<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cours Python</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Python</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Hello world</h1>
    <h2>Ceci est un sous titre</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis distinctio architecto laboriosam asperiores doloremque laborum harum necessitatibus, corrupti, dignissimos ratione mollitia ab vero modi unde excepturi quisquam earum repellat. Laboriosam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, atque, facere vel quo placeat sequi a illo quia perferendis unde fuga, culpa iure natus et ipsa fugiat. Fuga, facere at.</p>


    <div class="row">
      {% for eleve in liste_eleves %}
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="/public/pers1.jpg">
            <span class="card-title">{{ eleve.nom }}</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
</body>
</html>